@model PowerBI.Models.Report
@{
    ViewData["Title"] = "Ver Reporte";
}

<h2>@Model.Name</h2>

<div style="height: 90vh; width: 100%; margin-top: 20px;">
    <iframe title="Reporte Power BI" width="100%" height="100%"
        src="https://app.powerbi.com/reportEmbed?reportId=4f7228d6-8d30-4ddf-911c-68faa4414b3e&autoAuth=true&ctid=4d9a6d94-182b-4529-abd2-1a97909cb9a5"
        frameborder="0" allowFullScreen="true">
    </iframe>

</div>
